<div class="main-wrap">
    <app-navbar></app-navbar>
    <div class="section-wrap pb-3 float-left w-100">
        <div class="float-left w-100 mb-4" id="dashboard">
            <div class="row less-row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col mt-3 n-m-t">
                                    <button title="Clear Filters" style="margin-left: 0" class="btn c-btn-primary c-btn-secondary create-order-btn-r c-btn-info" type="button" (click)="clearFilters()">
                                      <span>
                                        <i class="fa fa-refresh" style="color: Tomato"></i>
                                      </span>
                                    </button>
                                </div>
                                <div class="col mt-3 n-m-t" style="flex-grow: 10">
                                    <div class="c-input">
                                        <input (keyup.enter)="handleSearch()" type="text" [(ngModel)]="search" (ngModelChange)="handleSearch()" placeholder="Search" />
                                    </div>
                                </div>
                                <button class="search-btn mt-3 n-m-t only-here" type="button" (click)="handleSearch()">
                                  <img src="assets/images/resource/icons/icon-search.png" />
                                </button>
                                <button class="setting-btn mt-3 n-m-t only-here d-none" data-toggle="modal" data-target="#assignPrinterDialog" type="button">
                                  <img src="assets/images/resource/icons/icon-setting.png" />
                                </button>
                                <div class="create-sec mt-3 n-m-t">
                                    <button class="btn c-btn-primary create-order-btn-r" type="button" (click)="openCreateOrderModal()">
                                      <span>
                                        <i class="fa fa-file-text-o" style="color: white"></i>
                                      </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="row less-row">
                                <div class="col mt-3 n-m-t">
                                    <button style="margin-left: 0" class="btn c-btn-primary create-order-btn-r c-btn-info" type="button" title="Create Account" (click)="openCreateAccountModal()">
                                  <span><i class="fa fa-user"></i></span>
                                </button>
                                    <button style="margin-left: 0" routerLink="/user-list" class="btn c-btn-primary create-order-btn-r c-btn-info ml-1" type="button">
                                  <span><i class="fa fa-users"></i></span>
                                </button>
                                    <button title="Manage printers" style="margin-left: 0" routerLink="/printer-list" class="btn c-btn-primary create-order-btn-r c-btn-info ml-1" type="button">
                                  <span><i class="fa fa-print"></i></span>
                                </button>
                                    <button title="Manage Resources" style="margin-left: 0" routerLink="/resource-list" class="btn c-btn-primary create-order-btn-r c-btn-info ml-1" type="button">
                                  <span><i class="fa fa-address-book"></i></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row less-row">
                        <div class="col mt-3 n-m-t">
                            <div class="c-input">
                                <input autocomplete="off" type="text" placeholder="Print Date" id="search_printDate" [(ngModel)]="search_printDate" class="form-control normal-select" />
                            </div>
                        </div>
                        <div class="col mt-3 n-m-t">
                            <div class="c-select2">
                                <select [(ngModel)]="search_dateOrder" class="form-control normal-select" (change)="handleSearch()">
                              <option value="" selected disabled>Date Order</option>
                              <option value="1">Today</option>
                              <option value="5">5 Days</option>
                              <option value="10">10 Days</option>
                              <option value="25">25 Days</option>
                              <option value="50">50 Days</option>
                              <option value="10000">All</option>
                            </select>
                            </div>
                        </div>
                        <div class="col mt-3 n-m-t">
                            <div class="c-select2">
                                <select [(ngModel)]="search_salesRep" class="form-control normal-select" (change)="handleSearch()">
                              <option value="">All Sales</option>
                              <option *ngFor="let item of salesReps" [value]="item.id">{{item.first_name}} {{item.last_name}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col mt-3 n-m-t">
                            <div class="c-select2">
                                <select [(ngModel)]="search_orderStatus" class="form-control normal-select" (change)="handleSearch()">
                              <option value="">All</option>
                              <option value="Production">Production</option>
                              <option value="Processing">Processing</option>
                              <option value="Completed">Completed</option>
                              <option value="Shipping">Shipping</option>
                            </select>
                            </div>
                        </div>
                        <div class="col mt-3 n-m-t">
                            <div class="c-select2">
                                <select [(ngModel)]="search_printer" class="form-control normal-select" (change)="handleSearch()">
                              <option value="" selected disabled>Printer Name</option>
                              <option *ngFor="let item of printers" value="{{ item.id }}">
                                {{ item.title }}
                              </option>
                            </select>
                            </div>
                        </div>
                        <div class="col mt-3 n-m-t">
                            <div class="c-select2">
                                <select class="form-control normal-select" [(ngModel)]="search_orderType" (change)="handleSearch()">
                              <option value="" selected disabled>Order Type</option>
                              <option value="screen_printing">Screen Printing</option>
                              <option value="direct_to_garment">Direct To Garment</option>
                              <option value="embroidery">Embroidery</option>
                              <option value="order_others">Other</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mt-5 float-left w-100 dashboard-heading d-none">
            Welcome Back {{ user.first_name }}!
            <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
        </h1>
        <div class="mb-2 d-none">
            <button type="button" (click)="viewMultipleOrders()" class="btn btn-secondary btn-sm" [disabled]="checkboxes.length == 0">
            ({{ checkboxes.length }}) View Multiple
      </button>
        </div>
        <div class="c-datatable" *ngIf="!isLoading">
            <div class="table-responsive">
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>
                                <button type="button" (click)="viewMultipleOrders()" class="btn btn-secondary btn-sm" [disabled]="checkboxes.length == 0">
                                  ({{ checkboxes.length }}) <span><i class="fa fa-eye"></i></span>
                                </button>
                            </th>
                            <th>View/Edit</th>
                            <th>ID#</th>
                            <th></th>
                            <th>Job Name<br />Customer</th>
                            <th class="text-center">Art /Pay /Apparel /Film</th>
                            <th>Film File</th>
                            <th class="text-center">Production</th>
                            <th class="text-center">Turnaround</th>
                            <th>Status <br/>Print Date</th>
                            <th>Assign<br />Printer</th>
                            <th class="text-center">Assign</th>
                            <th>Packing/Shipping</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders; let i = index">
                            <td>
                                <div class="c-pick float-left">
                                    <input type="checkbox" id="id_order_{{ order.id }}" [value]="order.id" (change)="handleCheckboxChange($event)" />
                                    <label for="id_order_{{ order.id }}"></label>
                                </div>
                            </td>
                            <td style="min-width: 132px;">
                                <a href="/order-details?id={{order.id}}" target="_blank" class="btn c-btn-primary sm square mx-1" title=""><img src="assets/images/resource/icons/icon-eye.png" /></a>
                                <a href="javascript:;" (click)="handleAction(order, 'edit')" class="btn c-btn-info sm square mx-1" title=""><img src="assets/images/resource/icons/icon-pen.png" /></a>
                                <a href="javascript:;" (click)="handleAction(order, 'id_qr_code')" class="btn c-btn-info sm square mx-1" title=""><img src="assets/images/resource/icons/qr-code.png" /></a>
                            </td>
                            <td class="text-center">
                                <span>{{ order.id }}</span>
                            </td>
                            <td>
                                <a [href]="order.proof_url ? order.proof_url: null" target="_blank">
                                    <div class="art-table">
                                        <img [src]="order.proof_url
                                          ? order.proof_url +'?id='+newDateTimestamp
                                          : 'assets/images/resource/icons/icon-art.png'
                                      " alt="" />
                                    </div>
                                </a>
                            </td>
                            <td>
                                {{ order.name }}<br /><small>{{ order.customer_name }}</small><br *ngIf="order.invoice_number" /><small *ngIf="order.invoice_number"><strong>{{ order.invoice_number }}</strong></small>
                            </td>
                            <td class="text-center" style="min-width: 183px;">
                                <div class="c-pick float-left">
                                    <input type="checkbox" [checked]="order.art_is_sized === 1" (change)="handleCheckbox($event, order.id, 'art_is_sized')" id="art_is_sized_{{ order.id }}" />
                                    <label for="art_is_sized_{{ order.id }}"></label>
                                </div>
                                <div class="c-pick float-left">
                                    <input type="checkbox" [checked]="order.pay === 1" (change)="handleCheckbox($event, order.id, 'pay')" id="pay_{{ order.id }}" />
                                    <label for="pay_{{ order.id }}"></label>
                                </div>
                                <div class="c-pick float-left">
                                    <input type="checkbox" [checked]="order.apparel === 1" (change)="handleCheckbox($event, order.id, 'apparel')" id="apparel_{{ order.id }}" />
                                    <label for="apparel_{{ order.id }}"></label>
                                </div>
                                <div class="c-pick float-left">
                                    <input type="checkbox" [checked]="order.film === 1" (change)="handleCheckbox($event, order.id, 'film')" id="film_{{ order.id }}" />
                                    <label for="film_{{ order.id }}"></label>
                                </div>
                            </td>
                            <td>
                                <a class="mr-2" *ngIf="order.film_file" [href]="order.film_file" target="_blank"><span><i style="color:green" class="fa fa-download fa-2x"></i></span></a>
                            </td>
                            <td class="text-center" style="min-width: 135px;">
                                <button id="production_{{ order.id }}" (click)="
                                  updateOrderStatus(order.id, 'production', order.status)
                                " [value]="order.status === 'Production' ? false : true" href="javascript:;" class="btn sm square" [ngClass]="
                                  order.status === 'Production'
                                    ? 'c-btn-primary'
                                    : 'c-btn-secondary'
                                " title="">
                                <img src="assets/images/resource/icons/icon-reload.png" />
                              </button>
                                <button *ngIf="
                                  order.status === 'Production' ||
                                  order.status === 'Completed'
                                " id="completed_{{ order.id }}" (click)="updateOrderStatus(order.id, 'completed')" [value]="order.status === 'Completed' ? false : true" href="javascript:;" class="btn m square mx-1" [ngClass]="
                                  order.status === 'Completed'
                                    ? 'c-btn-primary'
                                    : 'c-btn-secondary'
                                " title="">
                                <img src="assets/images/resource/icons/icon-tick.png" />
                              </button>
                                <button (click)="sendIssue(order.id)" href="javascript:;" class="btn sm square btn-danger ml-1" title="">
                                <img src="assets/images/resource/icons/icon-exclaim.png" />
                              </button>
                            </td>
                            <td class="text-center">
                                Created: {{ order.created_at | dateAgo }}<br/>
                                <small>({{ getArrivalType(order.arrival_type) }})</small><br/> {{ getDueInfo(order.arrival_date) }}<br/>
                                <small>({{order.hard_due_date == 1 ? "Hard due date" : "Soft due date"}})</small>
                            </td>
                            <td>
                                {{ order.status }}<br />
                                <small>{{ order.updated_at | date }}</small><br/>
                                <span *ngIf="order.print_date">Print Date</span><br *ngIf="order.print_date" />
                                <small *ngIf="order.print_date">{{ order.print_date | dateAgo }}</small>
                            </td>
                            <td>
                                <a (click)="openModal(order.id, order.arrival_date)" href="javascript:;" class="btn c-btn-secondary sm square" title=""><img src="assets/images/resource/icons/icon-assign.png" /></a>
                            </td>
                            <td class="text-center">
                                {{ getOrderType(order.type) }}
                                <br *ngIf="order.printer_name !== undefined" />
                                <span *ngIf="order.printer_name !== undefined">{{ getResourceType(order.printer_type) }}</span>
                                <br *ngIf="order.resource_name && order.printer_type === 'out_side'" /> <span *ngIf="order.resource_name && order.printer_type === 'out_side'">{{ order.resource_name }}</span>
                                <br *ngIf="order.printer_name && order.printer_type === 'in_home'" /> <span *ngIf="order.printer_name && order.printer_type === 'in_home'">{{ order.printer_name }}</span>
                            </td>
                            <td style="min-width: 165px;">
                                <div class="action-btn large-screen">
                                    <a *ngIf="order.packing_list_url === null" href="javascript:;" class="btn c-btn-secondary sm square mx-1" title="Packing"><img src="assets/images/resource/icons/icon-pdf.png" /></a>
                                    <a *ngIf="order.packing_list_url !== null" [href]="order.packing_list_url" target="_blank" class="btn btn-success sm square mx-1" title="Packing"><img src="assets/images/resource/icons/icon-pdf.png" /></a>
                                    <a *ngIf="order.shipping_label_url !== null" href='javascript:' title="All Labels..." class="btn sm square btn-success ml-1" (click)="handleAction(order, 'shipping')">
                                        <img src="assets/images/resource/icons/icon-pdf.png" />
                                    </a>
                                    <a *ngIf="order.shipping_label_url === null" href='javascript:' title="All Labels..." class="btn sm square btn-secondary ml-1">
                                        <img src="assets/images/resource/icons/icon-pdf.png" />
                                    </a>
                                    <a href="javascript:;" (click)="handleAction(order, 'id_ship_station')" class="btn c-btn-info sm square mx-1" title="Shipstation"><img src="assets/images/resource/icons/icon-shipping.png" /></a>
                                    <button type="button" title="Toggle Shipping Status" (click)="updateShipping(order.id)" class="btn m square mx-1" [ngClass]="order.is_shipping == '1'? 'c-btn-primary': 'c-btn-secondary'">
                                      <img src="assets/images/resource/icons/icon-anchor.png" />
                                    </button>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:;" (click)="handleAction(order, 'delete')" class="btn c-btn-danger sm square mx-1" title=""><img src="assets/images/resource/icons/icon-trash.png" /></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginationContainer">
                    <div class="paginationCountContainer">
                        Showing {{fullData.current_page}} of {{fullData.last_page}} pages from {{fullData.total}} entries
                    </div>
                    <div class="paginationButtonsContainer">
                        <input type="button" (click)="handlePageChangeClick('previous')" class="btn btn-primary btn-sm mr-2" value="Previous" />
                        <input type="button" (click)="handlePageChangeClick('next')" class="btn btn-primary btn-sm" value="Next" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', primaryColour: '#006ddd', backdropBackgroundColour: 'rgba(0, 0, 0, 0)' }"></ngx-loading>
</div>
<!-- Main Wrap -->

<!-- Modal Account Settings -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title" id="exampleModalLongTitle">Account Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body px-5">
                <div class="float-left w-100">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">First Name</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Last Name</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Contact Number</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Email</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Address</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">City</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">State</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Zipcode</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-lg-12">
                            <hr class="float-left w-100" />
                        </div>
                        <div class="col-lg-12">
                            <h6>Shipping Information</h6>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <label class="mb-2">Email</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Name</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">AddressSte/Apt</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Ste/Apt</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">City</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">State</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Zipcode</label>
                            <div class="c-input">
                                <input type="text" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Assign Printer -->
<div class="modal fade" id="assignPrinterDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <!-- <form [formGroup]="form" (submit)="assignPrinter()"> -->
    <div class="modal-dialog modal-md" role="document" style="position: relative !important">
        <div class="modal-content" style="position: relative !important">
            <div class="modal-header px-5">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5" style="position: relative !important">
                <div class="float-left w-100" style="position: relative !important">
                    <div class="row" style="position: relative">
                        <h3>Completion {{ selectedOrderArrivalDate | date:'EEE' }} {{selectedOrderArrivalDate | date:'M/d/yy'}}</h3>
                        <form [formGroup]="form" (submit)="assignPrinter('in_home')">
                            <div class="box-content">
                                <h5 class="mb-2 p-2">In House</h5>
                                <div class="col-lg-12 mb-4 d-none">
                                    <label class="mb-2">Order ID</label>
                                    <div class="c-input">
                                        <input formControlName="order_id" type="text" id="order_id_printer_modal" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="c-input">
                                        <select formControlName="printer_id" class="form-control" style="height: auto; padding: 10px">
                                          <option value="" selected disabled>Select Printer</option>
                                          <option *ngFor="let item of printers" value="{{ item.id }}">
                                            {{ item.title }}
                                          </option>
                                        </select>
                                        <label class="text-danger" *ngIf="form.controls.printer_id.invalid && (form.controls.printer_id.touched ||form.controls.printer_id.dirty)">Required Field</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4" style="position: relative">
                                    <div class="c-input">
                                        <input autocomplete="off" autocapitalize="off" type="text" class="" formControlName="print_date" id="datepicker_print_date" placeholder="Print Date" />
                                        <label class="text-danger" *ngIf="form.controls.print_date.invalid && (form.controls.print_date.touched || form.controls.print_date.dirty)">Required Field</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="c-input">
                                        <select formControlName="printer_schedule" class="form-control" style="height: auto; padding: 10px">
                                          <option value="" disabled selected>Select Schedule</option>
                                          <option value="6AM">6AM</option>
                                          <option value="7AM">7AM</option>
                                          <option value="8AM">8AM</option>
                                          <option value="9AM">9AM</option>
                                          <option value="10AM">10AM</option>
                                          <option value="11AM">11AM</option>
                                          <option value="12PM">12PM</option>
                                          <option value="1PM">1PM</option>
                                          <option value="2PM">2PM</option>
                                          <option value="3PM">3PM</option>
                                          <option value="4PM">4PM</option>
                                          <option value="5PM">5PM</option>
                                          <option value="6PM">6PM</option>
                                          <option value="7PM">7PM</option>
                                          <option value="8PM">8PM</option>
                                          <option value="9PM">9PM</option>
                                          <option value="10PM">10PM</option>
                                        </select>
                                        <label class="text-danger" *ngIf="form.controls.printer_schedule.invalid && (form.controls.printer_schedule.touched ||form.controls.printer_schedule.dirty)">Required Field</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="c-input">
                                        <select formControlName="printer_duration" class="form-control" style="height: auto; padding: 10px">
                                          <option value="" disabled selected>Select Duration</option>
                                          <option value="30 Min">30 Min</option>
                                          <option value="1 Hr">1 Hr</option>
                                          <option value="1.5 Hr">1.5 Hr</option>
                                          <option value="2 Hr">2 Hr</option>
                                          <option value="2.5 Hr">2.5 Hr</option>
                                          <option value="3 Hr">3 Hr</option>
                                          <option value="3.5 Hr">3.5 Hr</option>
                                          <option value="4 Hr">4 Hr</option>
                                          <option value="5 Hr">5 Hr</option>
                                          <option value="6 Hr">6 Hr</option>
                                          <option value="7 Hr">7 Hr</option>
                                        </select>
                                        <label class="text-danger" *ngIf="form.controls.printer_duration.invalid &&(form.controls.printer_duration.touched ||form.controls.printer_duration.dirty)">Required Field</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-primary ml-2">Assign</button>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="formOutSide" (submit)="assignPrinter('out_side')">
                            <div class="box-content mt-4 mb-4">
                                <div class="col-lg-12 mb-4 d-none">
                                    <label class="mb-2">Order ID</label>
                                    <div class="c-input">
                                        <input formControlName="order_id" type="text" id="order_id_printer_modal" placeholder="" />
                                    </div>
                                </div>
                                <h5 class="mb-2 p-2">Outside Resource</h5>
                                <div class="col-lg-12 mb-4">
                                    <div class="c-input">
                                        <select formControlName="resource_id" class="form-control" style="height: auto; padding: 10px">
                                          <option value="" selected disabled>Select Resource</option>
                                          <option *ngFor="let item of resources" value="{{ item.id }}">
                                            {{ item.name }}
                                          </option>
                                        </select>
                                        <label class="text-danger" *ngIf="formOutSide.controls.resource_id.invalid && (formOutSide.controls.resource_id.touched ||formOutSide.controls.resource_id.dirty)">Required Field</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-primary ml-2">Assign</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->
</div>

<!-- Modal Confirmation -->
<div id="dialog-confirm" title="Confirmation">
    <p id="dialog-content"></p>
</div>
<!-- End  -->

<!-- Modal QR-Codes -->
<div class="modal fade" id="qrCodeDialog" tabindex="-1" role="dialog" aria-labelledby="shipstationTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">QR Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe class="full_scope">
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!-- Modal Shipping -->
<div class="modal fade" id="shipstationDialog" tabindex="-1" role="dialog" aria-labelledby="shipstationTitle" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title" id="shipstationTitle">Shipping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body px-5">
                <div class="float-left w-100">
                    <form [formGroup]="ssForm" (submit)="submitShipStation()">
                        <div class="row">
                            <div class="col-lg-12 text-center" *ngIf="ship_type">
                                <h3><strong>{{ getShippingType(ship_type) }}</strong></h3>
                            </div>
                            <div class="col-lg-12 text-center" *ngIf="notes">
                                <h4 class="mb-0"><strong>Notes:</strong></h4>
                                <p class="mb-1">{{ notes }}</p>
                            </div>
                            <div class="col-lg-6 text-center">
                                <h4 *ngIf="weight"><strong>Weight: {{ weight }}</strong></h4>
                            </div>
                            <div class="col-lg-6 text-center">
                                <h4 *ngIf="boxes"><strong>Boxes: {{ boxes }}</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Carrier</label>
                                <select formControlName="carriers_code" class="form-control" (change)="handleCarrierChange($event)">
                <option value="" disabled>Select Carrier</option>
                <option *ngFor="let item of carriers" [value]="item.code">{{item.name}}</option>
              </select>
                            </div>
                            <div class="col-lg-12 mt-2">
                                <label>Weight</label>
                                <input type="number" placeholder="(Pound)" formControlName="weight_value" class="form-control">
                            </div>
                            <div class="col-lg-12 mt-2">
                                <label>Service</label>
                                <select formControlName="service_code" class="form-control">
                <option value="" disabled>Select Service</option>
                <option *ngFor="let item of services" [value]="item.code">{{item.name}}</option>
              </select>
                            </div>
                            <div class="col-lg-12 mt-2">
                                <label>Package</label>
                                <select formControlName="package_code" class="form-control">
                <option value="" disabled>Select Package</option>
                <option *ngFor="let item of packages" [value]="item.code">{{item.name}}</option>
              </select>
                            </div>
                            <div class="col-lg-12 mt-2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Size</label>
                                        <input type="number" placeholder="Length" formControlName="package_length" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Size</label>
                                        <input type="number" placeholder="Width" formControlName="package_width" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Size</label>
                                        <input type="number" placeholder="Height (in)" formControlName="package_size" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 d-none">
                                <label>Confirmation</label>
                                <input type="text" placeholder="Weight Value" formControlName="shipping_confirmation" class="form-control">
                            </div>
                            <div class="col-lg-12 mt-3 text-center">
                                <button type="submit" [disabled]="networkCall" class="btn btn-primary btn-block">Save<span *ngIf="networkCall">&nbsp;<i class="fa fa-spinner fa-spin"></i></span></button>
                            </div>
                            <div class="col-lg-12 mt-3 text-center" *ngIf="showLabel">
                                <p class="text-center">Please view the label <a [href]="label" id="label_link" target="_blank">here</a>.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!-- Modal Shippig Labels -->
<div class="modal fade" id="modallabels" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title" id="modallabels_h5">All Shipping Labels</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body px-5" id="shipping_label_list">

            </div>
        </div>
    </div>
</div>
<!-- End  -->

<!-- Create&Edit Order Modal -->
<div class="modal fade" id="createOrderDialog" tabindex="-1" role="dialog" aria-labelledby="shipstationTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">Create New Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <iframe id="full_scope">
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!-- Modal Create Account -->
<div class="modal fade" id="createAccountDialog" tabindex="-1" role="dialog" aria-labelledby="shipstationTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="formCreateAccount" (submit)="submitCreateAccount()" class="float-left w-100">
                <div class="modal-body px-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Role *</label>
                            <div class="c-input">
                                <select style="padding: 12px; height: auto" class="form form-control" formControlName="role">
                                    <option value="" selected disabled>Please Select</option>
                                    <option value="Admin" *ngIf="user.role==='Admin'">Admin</option>
                                    <option value="Production" *ngIf="user.role==='Admin'">Production</option>
                                    <option value="Sales" *ngIf="user.role==='Admin'">Sales</option>
                                    <option value="Customer">Customer</option>
                                  </select>
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.role.valid && (formCreateAccount.controls.role.dirty || formCreateAccount.controls.role.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Password *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="password" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.password.valid && (formCreateAccount.controls.password.dirty || formCreateAccount.controls.password.touched)">Required field</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">First Name *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="first_name" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.first_name.valid && (formCreateAccount.controls.first_name.dirty || formCreateAccount.controls.first_name.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Last Name *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="last_name" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.last_name.valid && (formCreateAccount.controls.last_name.dirty || formCreateAccount.controls.last_name.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Company </label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="company" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Address *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="address" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.address.valid && (formCreateAccount.controls.address.dirty || formCreateAccount.controls.address.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Apt Ste </label>
                            <div class="c-input">
                                <input type="text" placeholder="Apt/Ste" formControlName="street_appartment" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.street_appartment.valid && (formCreateAccount.controls.street_appartment.dirty || formCreateAccount.controls.street_appartment.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Contact Number *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="contact_number" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.contact_number.valid && (formCreateAccount.controls.contact_number.dirty || formCreateAccount.controls.contact_number.touched)">Required field</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">City *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="city" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.city.valid && (formCreateAccount.controls.city.dirty || formCreateAccount.controls.city.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">State *</label>
                            <div class="c-input">
                                <select style="padding: 12px; height: auto" class="form form-control" formControlName="state">
                                    <option value="" selected disabled>Please Select</option>
                                    <option *ngFor="let state of states" value="{{ state }}">{{ state }}</option>
                                  </select>
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.state.valid && (formCreateAccount.controls.state.dirty || formCreateAccount.controls.state.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Zipcode *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="zipcode" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.zipcode.valid && (formCreateAccount.controls.zipcode.dirty || formCreateAccount.controls.zipcode.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Email *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="email" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.email.valid && (formCreateAccount.controls.email.dirty || formCreateAccount.controls.email.touched)">Valid email required</label>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-0 mb-0">

                    <div class="row" id="shipping-info-container">
                        <div class="col-lg-3">
                            <h3 class="mt-2">Shipping Info</h3>
                        </div>
                        <div class="col-lg-3">
                            <div class="c-pick float-left mb-2">
                                <input type="checkbox" id="same_as_above" (change)="copyDataToShipping($event)" />
                                <label for="same_as_above">Same as above</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">First Name *</label>
                            <div class="c-input">
                                <input type="email" placeholder="" formControlName="shipping_name" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_name.valid && (formCreateAccount.controls.shipping_name.dirty || formCreateAccount.controls.shipping_name.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Last Name *</label>
                            <div class="c-input">
                                <input type="email" placeholder="" formControlName="shipping_last_name" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_last_name.valid && (formCreateAccount.controls.shipping_last_name.dirty || formCreateAccount.controls.shipping_last_name.touched)">Required field</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Company </label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="shipping_company" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Address *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="shipping_address" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_address.valid && (formCreateAccount.controls.shipping_address.dirty || formCreateAccount.controls.shipping_address.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Apt Ste </label>
                            <div class="c-input">
                                <input type="text" placeholder="Apt/Ste" formControlName="shipping_street_appartment" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_street_appartment.valid && (formCreateAccount.controls.shipping_street_appartment.dirty || formCreateAccount.controls.shipping_street_appartment.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Contact Number *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="shipping_phone" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_phone.valid && (formCreateAccount.controls.shipping_phone.dirty || formCreateAccount.controls.shipping_phone.touched)">Required field</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">City *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="shipping_city" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_city.valid && (formCreateAccount.controls.shipping_city.dirty || formCreateAccount.controls.shipping_city.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 mb-2 n-m-b">
                            <label class="mb-2 n-m-b">State *</label>
                            <div class="c-input">
                                <select style="padding: 12px; height: auto" class="form form-control" formControlName="shipping_state">
                                    <option value="" selected disabled>Please Select</option>
                                    <option *ngFor="let state of states" value="{{ state }}">{{ state }}</option>
                                  </select>
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_state.valid && (formCreateAccount.controls.shipping_state.dirty || formCreateAccount.controls.shipping_state.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Zipcode *</label>
                            <div class="c-input">
                                <input type="text" placeholder="" formControlName="shipping_zipcode" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_zipcode.valid && (formCreateAccount.controls.shipping_zipcode.dirty || formCreateAccount.controls.shipping_zipcode.touched)">Required field</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-4 n-m-b">
                            <label class="mb-2 n-m-b">Email *</label>
                            <div class="c-input">
                                <input type="email" placeholder="" formControlName="shipping_email" />
                                <label class="text-left mt-2 text-danger" *ngIf="!formCreateAccount.controls.shipping_email.valid && (formCreateAccount.controls.shipping_email.dirty || formCreateAccount.controls.shipping_email.touched)">Valid email required</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12 text-right mt-2">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary ml-1" [disabled]="formCreateAccount.invalid || isCreatingAccountLoading">Create Account <span *ngIf="isCreatingAccountLoading">&nbsp;<i class="fa fa-spinner fa-spin"></i></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End -->