<div class="dashboard-header">
    <h1 class="logo-text">District Printing & Embroidery, INC</h1>
    <div class="dash-head-user">
        <span class="open-menu"><i class="fa fa-bars"></i></span>
        <div class="dash-multi-links">
            <span class="close-menu"><i class="fa fa-close"></i></span>
            <a href="#" title="">Dashboard</a>
            <a href="#" title="">New Order</a>
            <a href="#" title="">Open Order</a>
            <a href="#" title="">Completed Orders</a>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/resource/user.jpg" alt="">
                <span>Rafael Romis</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="javascript:;" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</div><!-- Dashboard Header -->