<div class="main-wrap">
    <div class="logo-text-white pb-0">
        <h1>District Printing</h1>
        <span class="email-confirm">Approved email confirmation</span>
    </div>
    <div class="thank-banner ">
        <img src="assets/images/resource/logo-thank.png" alt="" />
        <div class="thanks-msg">
            <span>Thank You</span>
            <h2>Rafael Romis</h2>
            <span>your order is in production.</span>
        </div>
        <div class="float-left w-100 thanks-img"><img src="assets/images/resource/thanku.png" alt=""></div>
    </div>
    <div class="thankyou-details">
        <div class="container">
            <h3 class="green-heading">Printing Summary</h3>
            <div class="float-left w-100">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="summary-box">
                            <h3>Submittde Date</h3>
                            <span>January 21, 20212</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="summary-box">
                            <h3>Invoice#</h3>
                            <span>287859</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="summary-box">
                            <h3>Make a Payment</h3>
                            <span>Click Here</span>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="green-heading mt-5 mb-2">Est. Delivery Date: January 29,. 2021</h3>
            <h5>We would like to thank you for your order. If you have any questions, feel free call us at <strong>(310)
                    916-9514</strong> </h5>

            <h5 class="mt-5 mb-2">Best Regards,</h5>
            <h3>District Printing Support Team</h3>
            <div class="reply-msg">
                <p>Please do not reply to this email. This mailbox is not monitored and you will not receive a response.
                </p>
                <p> If you already made payment please disregard.</p>
            </div>
            <span class="text-black float-left w-100 pt-5 pb-5">2020 © District Printing - 4722 Normandie Ave, Los
                Angeles, CA 90037</span>
        </div>
    </div>
</div><!-- Main Wrap -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header  px-5">
                <h5 class="modal-title" id="exampleModalLongTitle">Account Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">
                <div class="float-left w-100">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">First Name</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Last Name</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Contact Number</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Email</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Address</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">City</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">State</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Zipcode</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-lg-12">
                            <hr class="float-left w-100">
                        </div>
                        <div class="col-lg-12">
                            <h6>Shipping Information</h6>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <label class="mb-2">Email</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Name</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">AddressSte/Apt</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Ste/Apt</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">City</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">State</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <label class="mb-2">Zipcode</label>
                            <div class="c-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>